// Declare all the variables you want to use here

// COLORS
$background-color: #0C0048;
$text-color: grey;
$button-color: purple;

// FONT
//font-size
$h1-heading-text: 2rem;
$body-text: 1rem;

//font-family
$heading-text-family: 'Montserrat', sans-serif;
$small-text-family: 'Open sans', sans-serif;